<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ReplyMapper">
	<!-- 전체조회 -->
	<select id="selectReplyAll" parameterType="int">
		SELECT * FROM
		TBL_REPLY
		where board_no = #{bno}
		order by reply_no desc
	</select>

	<!-- 단건조회 -->
	<select id="selectReplyOne" parameterType="int">
		SELECT * FROM
		TBL_REPLY
		Where reply_no = #{rno}

	</select>
	<!-- 댓글 등록 selectKey는 마이바티스에서 실행-->
	<!-- 1. 먼저 시퀀스를 실행해서 replyNo 값을 가져옴 -->
	<!-- 2. 위에서 가져온 replyNo 값을 포함해서 INSERT 실행 -->
	<insert id="insertReply" parameterType="Reply">
		<selectKey keyProperty="replyNo" order="BEFORE" resultType="int">
			select reply_seq.nextval from dual
		</selectKey>
		INSERT INTO TBL_REPLY (reply_no
		                      ,board_no
		                      ,reply
		                      ,replyer
		                      ,reply_date)
		VALUES (#{replyNo}
		       ,#{boardNo}
		       ,#{reply}
		       ,#{replyer}
		       ,sysdate)
	</insert>
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="int">
		DELETE TBL_REPLY
		WHERE
		REPLY_NO = #{rno}
	</delete>
</mapper>
